<div class="container-fluid">
	<footer class="footer">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-6">
				<div class="logo-box">
					<img class="logo" [src]="imgLogo">
				</div>
					<div class="h5 text-default mt-1 mb-1">	Suruhanjaya Tenaga,<br>
															No. 12, Jalan Tun Hussein, Precinct 2, 62100 Putrajaya, Malaysia.<br>
															Toll Free: 1-800-2222-78 Tel: (603) 8870 8500 Fax: (603) 8888 8637<br><br></div>
					<div class="copyright text-center text-xl-left text-muted">
						&copy; {{ test | date: "yyyy" }}
						All rights reserved © 
						<a
							href="https://www.prototype.com.my"
							class="font-weight-bold ml-1"
							target="_blank"
						>
							Energy Commission
						</a>
						
					</div>
			</div>
		</div>
	</footer>
</div>