<nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom" id="navbar-main">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="col-4 collapse-brand">
						<a [routerLink]="['/landing']">
							<img src="assets/img/logo/logo-Suruhanjaya-Tenaga.png" width="50px"/>
						</a>
					</div>
	<perfect-scrollbar>
		<div class="scrollbar-inner">
			<div class="sidenav-header d-flex align-items-center">
				<a class="navbar-brand" [routerLink]="['/#']">
					
				</a>
				<div class="ml-auto">
					<!-- Sidenav toggler -->
					<div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin"
						data-target="#sidenav-main" (click)="minimizeSidebar()">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-inner">
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Collapse header -->
					<ul class="navbar-nav">
						<li *ngFor="let menuitem of menuItems" class="nav-item dropdown">
							<!--If is a single link-->
							<a 
								routerLinkActive="active"
								[routerLink]="[menuitem.path]"
								*ngIf="menuitem.type === 'link'"
								class="nav-link"
							>
								<i class="ni {{ menuitem.icontype }}"></i>
								<span class="nav-link-text">{{ menuitem.title }}</span>
							</a>
							<!--If it have a submenu-->
							<a 
								data-toggle="collapse" 
								routerLinkActive="active" 
								*ngIf="menuitem.type === 'sub'"
								(click)="menuitem.isCollapsed = !menuitem.isCollapsed"
								[attr.aria-expanded]="!menuitem.isCollapsed" 
								[attr.aria-controls]="menuitem.collapse"
								class="nav-link"
							>
								<i class="ni {{ menuitem.icontype }}"></i>
								<span class="nav-link-text">{{ menuitem.title }}</span>
							</a>

							<!--Display the submenu items-->
							<div 
								id="{{ menuitem.collapse }}"
								class="collapse"
								*ngIf="menuitem.type === 'sub'"
								[collapse]="menuitem.isCollapsed" 
								[isAnimated]="true"
							>
								<ul class="nav nav-sm flex-column">
									<li *ngFor="let childitems of menuitem.children" class="nav-item">
										<!--If is a single link-->
										<a
											routerLinkActive="active"
											[routerLink]="[menuitem.path, childitems.path]"
											class="nav-link" *ngIf="childitems.type === 'link'"
										>
											{{ childitems.title }}
										</a>
										<!--If it have a submenu-->
										<a 
											data-toggle="collapse"
											(click)="childitems.isCollapsed = !childitems.isCollapsed"
											[attr.aria-expanded]="!childitems.isCollapsed"
											[attr.aria-controls]="childitems.collapse"
											*ngIf="childitems.type === 'sub'"
											class="nav-link"
										>
											{{ childitems.title }}
										</a>
										<!--Display the submenu items-->
										<div
											id="{{ childitems.collapse }}"
											class="collapse"
											*ngIf="childitems.type === 'sub'"
											[collapse]="childitems.isCollapsed"
											[isAnimated]="true"
										>
											<ul class="nav">
												<li *ngFor="let childitem of childitems.children" class="nav-item">
													<a 
														[routerLink]="[menuitem.path, childitems.path, childitem.path]" 
														class="nav-link"
													>
														{{ childitem.title }}
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<!-- Divider -->
					<hr class="my-3" />
				</div>
			</div>
		</div>
	</perfect-scrollbar>
			<!-- User -->
			<ul class="navbar-nav align-items-center ml-auto ml-md-0">
				<li class="nav-item dropdown" dropdown placement="bottom-right">
					<a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
						<div class="media align-items-center">
							<span class="avatar avatar-sm rounded-circle">
								<img alt="Image placeholder" [src]="imgAvatar" />
							</span>
							<div class="media-body ml-2 d-none d-lg-block">
								<span class="mb-0 text-sm  font-weight-bold">Ali Imran</span>
							</div>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" *dropdownMenu>
						<div class=" dropdown-header noti-title">
							<h6 class="text-overflow m-0">Welcome!</h6>
						</div>
						<a class="dropdown-item" (click)="navigatePage('profile')">
							<i class="fas fa-user fa-fw"></i> <span>My profile</span>
						</a>
						<a class="dropdown-item" (click)="navigatePage('settings')">
							<i class="fas fa-cogs fa-fw"></i> <span>Settings</span>
						</a>
						<div class="dropdown-divider"></div>
						<a (click)="logout()" class="dropdown-item">
							<i class="fas fa-sign-out-alt fa-fw"></i>
							<span>Logout</span>
						</a>
					</div>
				</li>
			</ul>


		</div>
	</div>
</nav>
<div *ngIf="sidenavOpen === true" class="backdrop d-xl-none" (click)="toggleSidenav()"></div>