<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Home</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

      <div class="row ml-2 mr-3">
      <carousel>
        <slide>
          <img src="assets/img/theme/1527037694.jpg" alt="first slide" style="display: block; width: 100%; ">
        </slide>
        <slide>
          <img src="assets/img/theme/1545013706.jpg" alt="second slide" style="display: block; width: 100%; ">
        </slide>
        </carousel>
      </div>
		</div>
	</div>
</div>


<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="column left">
        <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Statistics <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								      <a href="javascript:void(0)"><i class="fas fa-chart-pie text-dark"> </i> </a>
							      </li>
					        	</ol>
					</nav></h3>
                </div>
                <div class="card-body">
                    <div class="row ml-2">
                      <h4>Most Popular Statistic.</h4> 
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Primary Energy Supply</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Primary Energy Supply</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Natural Gas Consumption</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Natural Gas</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Retail Petroleum</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import & Export Natural Gas</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import & Export Coal and Coke</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import & Export Electricity</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Transformation Process</h6></a>
                    </div>
                    <div class="col-lg-6 col-5 mt-4">
                        <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> See more </a>
                      </div>
                    </div>
                    

            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Publication <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-bookmark text-dark"> </i> </a>
							</li>
						</ol>
					</nav></h3>
                </div>
                
                <div class="card-body">
                    <div class="chart">
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" ><h6>Malaysia Energy Statistics Handbook 2019</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Maklumat Prestasi dan Statistik Industri Pembekalan Elektrik Di Malaysia</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>National Energy Balance 2017</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Malaysia Energy Statistics Handbook 2018</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>National Energy Balance 2016</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Malaysia Energy Statistics Handbook 2017</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>National Energy Balance 2015</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Maklumat Prestasi dan Statistik Industri Pembekalan Elektrik di Malaysia</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Malaysia Energy Statistics Handbook 2016</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Malaysia Energy Statistics Handbook 2014</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Piped Gas Distribution Industry Statistics 2013</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>Industri Pembekalan Elektrik di Malaysia - Maklumat Prestasi dan Statistik</h6></a>
                      </div>
                      <div class="row ml-1">
                      <img src="/assets/img/icons/image_gallery.png" class="mr-1">
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf"><h6>National Energy Balance 2010</h6></a>
                      </div>

                      <div class="col-lg-6 col-5 mt-4">
                        <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> See more </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
      <carousel>
        <slide>
          <a href="https://www.eia.gov/kids/index.php">
          <img src="assets/img/theme/1550628136.jpg" alt="first slide" style="display: block; width: 100%;"></a>
        </slide>
        </carousel>
      </div>
       <!--<h1>sdfsdfsdfsdfsdfddfjskclsdvojdiflkvdcdckoplsfsdfsdfdsf</h1> --> 
      </div>
      <div class="column right">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Login/Register <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-keyline-all text-dark"> </i> </a>
							</li>
						</ol>
					</nav></h5>
                </div>
                <div class="card-body bg-secondary">
                    <div class="text-center mt--2">
                      <h6>Are you a user? If not, you can register now.<br>Just simply press button below.</h6>
					            <a class="btn btn-sm btn-neutral " href="/#/auth/login"> Login/Register </a>
				          </div>
                </div>
            </div>
        </div>
        
        <div class="row ml-2 mr-2">
        <div class="card">
          <div class="card-header">
                    <div class="text-center mt--2">
                      <h6>Weather Today</h6><br>
                      <img src="assets/img/logo/animation_500_kfbwao9c.gif" style="width:30%;"><br>
                      <h1>31 c</h1><br>
                      <h6>Precipitation: 10%<br>Humidity: 77%<br>Wind: 3km/h</h6>
				          </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="card-header bg-primary">
                    <h3 class="m-0 text-center">Agency Quicklinks</h3>
                    <carousel [itemsPerSlide]="itemsPerSlide"
                      [singleSlideOffset]="singleSlideOffset"
                      [startFromIndex]="6"
                      [interval]="false">
                      <slide *ngFor="let slide of slides; let index=index">
                         <img [src]="slide.image" alt="image slide" style="display: block; width: 50%;">
                        </slide>
                    </carousel>
      </div>
  </div>
</div>