<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Statistics</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-cog text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
        <div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

					<a class="btn btn-sm btn-neutral" href="javascript:void(0)">
						Filters
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row ml-3 mr-3 mt--6">
  <div class="col-4">
        <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Energy Balance <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								        <a href="javascript:void(0)"><i class="fas fa-chart-pie text-dark"> </i> </a>
							      </li>
					        	</ol>
					          </nav></h3>
              </div>
              <div class="card-body">
                    <div>
                      <div class="row ml-1">
                      <h6>Summary</h6>
                      </div>
                      <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Primary Energy Supply</h6></a>
                      </div>
                    
                      <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Transformation Process</h6></a>
                      </div>
                    
                      <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Final Energy Demand</h6></a>
                      </div>
                     </div>

                    
                    <div class="row ml-1 mt-2">
                      <h6>Crude Oil and Petroleum Products</h6>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Reserves</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Production</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import and Export</h6></a>
        
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Final Consumption</h6></a>
                    </div> 

                    <div class="row ml-1 mt-2">
                      <h6>Natural Gas</h6>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Reserves</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Production</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import and Export</h6></a>
        
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Final Consumption</h6></a>
                    </div> 

                    <div class="row ml-1 mt-2">
                      <h6>Coal and Coke</h6> 
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Reserves</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Production</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Import and Export</h6></a>
        
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Final Consumption</h6></a>
                    </div>

                    <div class="row ml-1 mt-2">
                      <h6>Electricity</h6>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Installed Capacity</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Electricity Generation</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Final Electricity Consumption</h6></a>
        
                    </div>

                </div>
        </div>
  </div>
  <div class="col-4">
        <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Economic Data Analysis <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								        <a href="javascript:void(0)"><i class="fas fa-chart-pie text-dark"> </i> </a>
							      </li>
					        	</ol>
					          </nav></h3>
              </div>
              <div class="card-body">
                    <div>
                    <div class="row ml-1">
                      <h6>Economic Indicator</h6>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>GDP</h6></a>
                    </div>
                    
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Population</h6></a>
                    </div>
                    
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>GDP per Capita</h6></a>
                    </div>

                    <div class="row ml-1 mt-2">
                      <h6>Energy Indicator</h6>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Energy Intensity per Capita</h6></a>
                    </div>
                    <div class="row ml-2">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Energy Intensity per unit GDP</h6></a>
                    </div>
                     
                    </div>
                </div>
          </div>
          <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Electric Supply <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								        <a href="javascript:void(0)"><i class="fas fa-chart-pie text-dark"> </i> </a>
							      </li>
					        	</ol>
					          </nav></h3>
              </div>
              <div class="card-body">
                    <div>
                      <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Performance of Electricity Supply Industry</h6></a>
                    </div>
                      
                    </div>
                </div>
          </div>
  </div>
  <div class="col-4">
          <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Energy Prices <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								        <a href="javascript:void(0)"><i class="fas fa-file text-dark"> </i> </a>
							      </li>
					        	</ol>
					          </nav></h3>
              </div>
              <div class="card-body">
                    <div>
                      <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Petroleum Products</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>LPG</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Natural Gas</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Retail Petroleum</h6></a>
                    </div>
                    </div>
                </div>
          </div>
          <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Gas Distribution <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-1 md-4">
						          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							        <li class=" breadcrumb-item">
								        <a href="javascript:void(0)"><i class="fas fa-chart-pie text-dark"> </i> </a>
							      </li>
					        	</ol>
					          </nav></h3>
              </div>
              <div class="card-body">
                    <div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Performance of Gas Distribution System</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Natural Gas Consumption</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Natural Gas Consumption</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Length of Natural Gas Distribution Pipeline</h6></a>
                    </div>
                    <div class="row ml-1">
                      <a href="javascript:void(0)"><i class="fas fa-file text-dark mr-1"> </i> </a>
                      <a href="/assets/document/Malaysia Energy Statistics Handbook 2019.pdf" class="ml-1 mt-1" ><h6>Gas Competency Certificates Issued</h6></a>
                    </div>
                    </div>
                </div>
          </div>
  </div>
</div>
