<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">About Us</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
      <div class="col-4">
        <img src="/assets/img/logo/overview.jpg" style="width:100%;">
      </div>
      <div class="col-8 justify">
        <div class="card">
          <div class="card-body">
            <h5>
              The Malaysia Energy Information Hub (MEIH) serves to establish a comprehensive national energy database to support the dissemination and distribution of energy statistics in Malaysia to local and international stakeholders and the public. MEIH is a portal undertaken and managed by the Energy Commission (EC) of Malaysia.</h5>
            <br>
            <h4>Objectives</h4><br>
            <h5>1. To establish a comprehensive national energy database to provide timely energy statistics and support for National Energy Planning</h5><br>
            <h5>2. To help EC achieve its organisational objectives and to assist EC in building the necessary capabilities as to become a "one-stop energy statistics center" responding to enquiries and requests from the public and private sectors regarding the country's energy data</h5>
            <h5>3. To undertake energy end-use forecasting, energy demand/supply planning and development and feasibility studies to assist both public and private sector organisations in formulating effective energy strategies and project implementation.</h5>
            <h5>4. To co-ordinate, compile and assist in the publication of energy statistics and to undertake appropriate studies on its own or in collaboration with other energy centers</h5>
          </div>
         
      </div>
    </div>
  </div>
</div>