<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Role</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Energy Commission Role</h3>  
                </div>
                <div class="card-body">
                  <h5>1. Energy data from National Energy Balance (NEB) publication<br>
                  2. Data submission from NEB data providers (will be launched later)<br>
                  3. Electricity data on the performance of electricity supply industry in Malaysia<br>
                  4. Statistics of piped gas distribution industry in Malaysia</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Roles based on user</h3>
                    
                </div>
                <div class="card-body">
                    <div class="table-responsive ml--3 mr--5 mt--2">
                    <table class=" table align-items-center table-flush">
                        <thead class=" thead-light">
                            <tr>
                                <th class=" sort" data-sort="name" scope="col">User</th>

                                <th class=" sort" data-sort="budget" scope="col">Role</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>Regulators</td>
                                <td>Energy policy development</td>
                            </tr>
                            <tr>
                                <td>Energy Professionals</td>
                                <td>Energy industry planning and development</td>
                            </tr>
                            <tr>
                                <td>Planners</td>
                                <td>Energy security risk management</td>
                            </tr>
                            <tr>
                                <td>Investor Analyst</td>
                                <td>Energy standards development</td>
                            </tr>
                            <tr>
                                <td>Industry Players</td>
                                <td>Environmental policy developments</td>
                            </tr>
                            <tr>
                                <td>NGOs</td>
                                <td>EEnergy industry performance monitoring</td>
                            </tr>
                            <tr>
                                <td>General Public</td>
                                <td>Energy investment analysis</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>